*.o
*.pp
*.ko
*.so
*.obj
*.a
*.bin
*Image
*.lck
*.lock
*.ceo
*.tmp
*.out
*.in
*.out.py
*._cfg
*.configure
*.config
temp.*
*.map
*.lst
*.unu
*.unu_1
*.pyc
*.old
*.bak
*.unused_1
*.unused
*.ignoreme
*.oldbackup
*.dep
*.strip
*.log
*.gen
*~
.*.un~
.*.swp
